@CHARSET "UTF-8";



header{
	background-color: #283a60;
	padding:1%;
	margin-left: 10%;
	margin-right:10%;
	margin-top: 0px;
	border-radius:4px;
	font-style: inherit;
}
input[type=checkbox], input[type=radio]{
	float:right;	
}

#submit_internship{
	margin-top:30px;
	float:right;
	border-radius:4px;
	background:#5cb85c;
Add a comment to this line
	border-color:#5cb85c;
	color:white;
}
.btn-primary {
	float:left;
}


.btn-demand{
	margin-left:3%;
}

.col-md-4{
	margin-left:9%;
}

#textHeader{
	font-size:x-large;
	color:white;
	text-align:center;
}
.col-md-2{
	margin: 
}
body {
    background-color: #3B5998;
    padding-top:50px;
}

.form-inline{
	background-color:white;
	width: 95%;
	display:inline-block;
	float:right;
	border-radius:4px;
	margin-right: 3%;
}

textarea{
	margin-left:20px;
	margin-bottom:20px;
	
}

label{
	padding-left:20px;
	padding-bottom:20px;
}

.subtitle-form{
	text-align:left;
	padding-left:1em;
}

.col-md-offset-4 {
	margin-left: 37.33333333%;
}
.bold{
	font-weight: bold;
}

div.col-md-6 {
    width: 50%;
    background: white;
    display: inline-block;
    margin-left: 11%;
	border-radius:4px;
	float:initial;
}

#form{
    width: 50%;
    background: white;
    display:inline-block;
   	border-radius:4px;
	float:initial;
}

a.btn.btn-default{
	font-family: "Open Sans", Arial;
    margin-left: 16%;
    
}

#RightSideBar{
	display:block;
	background-color:white;
	text-align: center;
	border-radius:4px;
	padding-left:15px;
	padding-right:15px;
	height: 150%;
	margin-right:11%;
	padding-bottom:2%;
}

#RightSideBarStudent{
	display:block;
	background-color:white;
	float:right;
	border-radius:4px;
	padding-left:15px;
	padding-right:15px;
	height: 150%;
	margin-right:11%;
	padding-bottom:2%;
}


#userDetails{
	margin-top:10px;
	font-size:80%;
}

img.modif{
	height: 15px;
}

h3.blockHeader{
	font-size:1em;
}

#formPage{
	height: 436px;
}
caption{
	font-size:150%;
	color:#3B5998;
}

th{
	vertical-align: text-middle;
}

div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #FFD202;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}



/*
LOGIN VIEW
*/

.btn-lg{
	padding: 14px 16px;
	margin-right:20px;
	margin-bottom:20px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 6px;
    float: right;
}
button.login {
    width: 100%;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="text"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}

p.forgotpass {
    margin-top: 10px;
}

p.forgotpass a {
    color: #F5683D;
}


footer{
	margin-top:2%;
	text-align: center;
	background-color: white;
	padding-top:10px;
	padding-bottom:5px;
}

/*
miscellaneous
*/

.bs-checkbox{
	text-align:center;
}
.bs-radio{
	text-align:center;
}