p {
	font-family:helvetica;
}

.underline {
	text-decoration:underline;
}

.bold {
	font-weight:bold;
}
div {
	display:inline-block ;
	margin-left: auto;
    margin-right: auto;
    width: 100px;
}

table {
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
}

h1{
	text-align:center;
	text-decoration:underline;
	
}
h2{
	text-align:center;
}

td {
	width:30%;
}
