body {
  padding-top: 100px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  
  position: static;
  display: block;
  margin-bottom: 20px;
  left:35%;
  
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 35%;
    
}



dropdown.li{
	position:static;
	display:block;
	margin-bottom:20px;
	text-align:center;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

section{
	margin-top:50px;
	margin-bottom:10px;
	padding-bottom:50px;
	height:70%;
}


#navbar{
	display:block;
	text-align:center;
	width:100%;
}



footer{
	
	text-align:center;
	display:inline-block;

}